body{
    font-family: sans-serif;
    background-color: #102217;
    margin: 5vw 10vw 10vw 10vw; 
}
.Header{
    display: flex; 
    flex-direction:column; 
    font-size: clamp(1rem, 1.0vw + 1vh, 3rem); 
}
.Header h1{
    color: white;
    margin: 0;
}
.Header p{
    color: white;
    opacity: 0.7;
    margin-bottom: 2rem;
}
.DashboardInputs{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 
  "a a"
  "b c";
  font-size: 16px;
  align-items: center;
  row-gap: 1rem;
}
#TaskInput{
    grid-area: a;
    margin-top: 5%;
    background-color: #16261f;
    padding: 1rem;
    height: auto;
    width: 100%;
    border: 2px solid #16261f;
    border-radius: 15px;
    color: white;
    opacity: 0.7;
    font-size: clamp(0.9rem, 1vw + 0.5vh, 1.2rem);
}
#CategoryInput{
    grid-area: b;
    margin-top:clamp(0.5rem, 2vh, 1.5rem);
    background-color: #16261f;
    color: white;
    color-scheme: dark;
    padding: 1rem;
    height: auto;
    width: 90%;
    border: 2px solid #16261f;
    border-radius: 15px;
    opacity: 0.7;
    font-size: clamp(0.9rem, 1vw + 0.5vh, 1.2rem);
}
.AddTaskBtn{
    grid-area: c;
    align-self: center;
    background-color: #16703a;
    color: black;
    font-size: 1em;
    font-weight: bold;
    width: clamp(120px, 10vw, 200px);
    max-width: 280px;
    height: 40px;
    border: 1px solid #28392f;
    border-radius: 15px;
}
.task-card {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background: #16261f;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    color: white;
}
.task-check {  
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #16703a;
    border-radius: 50%; /* This makes it round */ 
    cursor: pointer;
    display: grid;
    place-content: center;
    background-color: transparent;
    transition: 0.2s all ease-in-out;
}
.task-info{
  display: flex;
  flex-direction: column;
}
.task-title{
  font-weight: bold;
  opacity: 0.5;
}
.task-category{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 4px 12px;
    width: fit-content; 
    min-width: 80px;    
    background-color: #16703a;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px; 
}
.delete-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #c00;
}
.delete-btn:hover {
  color: #f33;
}


@media (max-width: 600px) {
  .DashboardInputs {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c";
  }
}


.task-card.completed {
    opacity: 0.5;
    text-decoration: line-through;
    filter: grayscale(1);
}

